/*Div principal*/
.all{
	margin: 1em;
}
*{
	color: black;
	text-align: center;
}
img{
	width: 200px; height: 200px;
	display: block;
	margin: auto;
}
/*h2,h3,h1{
	text-align: center;
}*/
/*Panel donde de encuentran los productos*/
.panel {
	background-color: rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.1);
	margin:auto;
	border-radius: 5%;
}
@media only screen and (max-width: 991px) {
    .panel {
        width: 50%;
        display: inline-block;
    }
}
@media only screen and (max-width: 538px) {
    .panel {
        width: 100%;
        display: inline-block;
    }
}